<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="随机跳转到一个好玩的网站">
    <meta name="author" content="lanegg">
    <meta name="keywords" content="ownmeet, 随机跳转, 好玩的网站, 好玩, 无聊时用, 网站推荐">
    <title><%= title %></title>
    <link href="/template/multicolor/css/bootstrap.min.css" rel="stylesheet">
    <link href="/template/multicolor/css/font-awesome.min.css" rel="stylesheet">
    <link href="/template/multicolor/css/animate.min.css" rel="stylesheet">
    <link href="/template/multicolor/css/lightbox.css" rel="stylesheet">
	<link href="/template/multicolor/css/main.css" rel="stylesheet">
	<link href="/template/multicolor/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="/template/multicolor/js/html5shiv.js"></script>
	    <script src="/template/multicolor/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/images/favicon_lanegg.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/template/multicolor/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/template/multicolor/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/template/multicolor/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/template/multicolor/images/ico/apple-touch-icon-57-precomposed.png">

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?f8c6f6e31955a1d97f8cca6a38063139";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head><!--/head-->

<body>


    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">
                        <h1>OwnMeet</h1>
                        <p>
                            遇见未知<br>
                            <i class="fa fa-arrow-down"></i>随机跳转到一个好玩的网站<br>
                            <!--<br>-->
                            <!--累积跳转次数:100000-->

                        </p>
                        <a href="/meet" class="btn btn-common" target="_blank"> GO </a>
                    </div>
                    <img src="/template/multicolor/images/home/slider/hill.png" class="slider-hill" alt="slider image">
                    <img src="/template/multicolor/images/home/slider/house.png" class="slider-house" alt="slider image">
                    <img src="/template/multicolor/images/home/slider/sun.png" class="slider-sun" alt="slider image">
                    <img src="/template/multicolor/images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
                    <img src="/template/multicolor/images/home/slider/birds2.png" class="slider-birds2" alt="slider image">
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->








    <!--<footer id="footer">-->
        <!--<div class="container">-->
            <!--<div class="row">-->


                <!--<div class="col-md-3 col-sm-6">-->
                    <!--<div class="contact-info bottom">-->
                        <!--<h2>Contacts</h2>-->
                        <!--<address>-->
                        <!--E-mail: <a href="mailto:someone@example.com">email@email.com</a> <br>-->
                        <!--Phone: +1 (123) 456 7890 <br>-->
                        <!--Fax: +1 (123) 456 7891 <br>-->
                        <!--</address>-->

                        <!--<h2>Address</h2>-->
                        <!--<address>-->
                        <!--Unit C2, St.Vincent's Trading Est., <br>-->
                        <!--Feeder Road, <br>-->
                        <!--Bristol, BS2 0UY <br>-->
                        <!--United Kingdom <br>-->
                        <!--</address>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4 col-sm-12">-->
                    <!--<div class="contact-form bottom">-->
                        <!--<h2>Send a message</h2>-->
                        <!--<form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">-->
                            <!--<div class="form-group">-->
                                <!--<input type="text" name="name" class="form-control" required="required" placeholder="Name">-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<input type="email" name="email" class="form-control" required="required" placeholder="Email Id">-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your text here"></textarea>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<input type="submit" name="submit" class="btn btn-submit" value="Submit">-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-12">-->
                    <!--<div class="copyright-text text-center">-->
                        <!--<p> copyright &copy; lanegg</p>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</footer>-->
    <!--/#footer-->

    <script type="text/javascript" src="/template/multicolor/js/jquery.js"></script>
    <script type="text/javascript" src="/template/multicolor/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/template/multicolor/js/lightbox.min.js"></script>
    <script type="text/javascript" src="/template/multicolor/js/wow.min.js"></script>
    <script type="text/javascript" src="/template/multicolor/js/main.js"></script>
</body>
</html>